{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        {% for banner in banners %}
        <div class="slider-item" style="background-image: url({{ banner.image.url }});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate text-center">
                        <h1 style="font-family: ; font-size: 55px;" class="mb-2">
                            {{ banner.title }}
                        </h1>
                        <h4 style="color: #FFF;" class="subheading mb-4">{{ banner.description }}</h4>
                        <p><a href="{% url 'shop' %}" class="btn btn-secondary">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- <div>
    <img class="img-fluid w-100" src="{{ banner.image.url }}" alt="" />
</div> -->
<section class="ftco-section">
    <div class="container">
        <div style="justify-content: center;" class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/new--v1.png" alt="new--v1" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Always New</h3>
                        <span>100% New Product</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 d-flex justify-content-center align-items-center mb-2">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/verified-account.png"
                            alt="verified-account" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Superior Quality</h3>
                        <span>100% Authenticated</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1  d-flex justify-content-center align-items-center mb-2">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/shipped.png" alt="shipped" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <span>On order from $10.000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
                            style="background-image: url({% static 'images/watch-inside.jpg' %});">
                            <div class="text text-center"
                                style="display: flex; justify-content: center; align-items: center; backdrop-filter: blur(6px);">
                                <div style="padding: 10px 0; text-align: center; width: 100%;" class="quote-container">
                                    <!-- <h2>Quote</h2> -->
                                    <img style="margin: 0 0 10px 0;" width="50" height="50"
                                        src="https://img.icons8.com/ios/50/FFFFFF/quote--v1.png" alt="quote--v1" />
                                    <p class="pharagraph-quote" style="color: #FFA62F;">
                                        Don’t watch the clock, do what it does.
                                        <br>
                                        Keep going.
                                    </p>
                                    <p><a href="{% url 'shop' %}" class="btn btn-primary">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                            style="background-image: url({% static 'images/watch-category1.jpg' %});">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Calvin</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end"
                            style="background-image: url({% static 'images/watch-category2.jpg' %});">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Hublot</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                    style="background-image: url({% static 'images/watch-category3.jpg' %});">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Jacob</a></h2>
                    </div>
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end"
                    style="background-image: url({% static 'images/watch-category4.jpg' %});">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Rolex</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Featured Products</span>
                <h2 class="mb-4">Our Products</h2>
                <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="{% url 'product-details' product.id %}" class="img-prod">
                        <img style="height: 390px; object-fit: cover;" class="img-fluid" src="{{ product.photo.url }}"
                            alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3 style="height: 50px;"><a href="{% url 'product-details' product.id %}">
                                {{ product.name }}</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p style="" class="price">
                                    <span class="price-sale">{{ product.price|floatformat:"0"|intcomma }} VNĐ</span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="{% url 'cart' %}"
                                    class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p style="margin: auto">We will be available soon!</p>
            {% endif %}
        </div>
    </div>
</section>
<!-- images/hublot-banner-bestdeal.png -->
<section class="ftco-section img" style="background-image: url({% static 'images/hublot-banner-bestdeal.png' %});">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                <span style="color: #FFF;" class="subheading">Best Price For You</span>
                <h2 class="mb-4">Deal of the week</h2>

                <h3>
                    <a href="#">Hublot Classic Fusion Pelé Limited Edition</a>
                </h3>
                <p>Celebrating the legend Pelé's amazing football career, Hublot released 500 of these celebratory
                    models in 2014. Complete
                    with signed jersey, and full accessories, this is probably the only one available with original
                    purchase invoice from
                    2014 and one owner from new.</p>
                <span class="price">
                    <span style="text-decoration: line-through; color: #fff;"> $17.000</span>
                    <a style="color: #fff;" href="#">now
                        <span style="font-size: 25px; color: #FFA62F;">
                            $12.000
                        </span>
                        only
                    </a>
                </span>
                <div id="timer" class="d-flex">
                    <div class="time" id="days"></div>
                    <div style="margin:0 0 0 -30px" class="time pl-3" id="hours"></div>
                    <div class="time pl-3" id="minutes"></div>
                    <div class="time pl-3" id="seconds"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Anti AppleWatch Forever</span>
                <h2 class="mb-4">Our customer reaction</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for customer in customer %}
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url({{ customer.image.url }})">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p style="height:110px; font-family: Roboto;" class="mb-5 pl-4 line">
                                    {{ customer.description }}
                                </p>
                                <p class="name">{{ customer.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="{% static 'images/partner.png' %}" class="img-fluid"
                        alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="{% static 'images/partner.png' %}" class="img-fluid"
                        alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="{% static 'images/partner.png' %}" class="img-fluid"
                        alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="{% static 'images/partner.png' %}" class="img-fluid"
                        alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="{% static 'images/partner.png' %}" class="img-fluid"
                        alt="Colorlib Template"></a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form class="subscribe-form" method=POST>
                    <div class="form-group d-flex">
                        {{ forms.email }}
                        {% csrf_token %}
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,  // Disable the dots
            autoplay: true,  // Enable auto play
            autoplayTimeout: 3000,  // Set time between transitions (3 seconds)

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
    });
</script>
{% endblock %}